{% extends 'base.html' %}
            

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h2 align="center">Supervision Solutions for Behavior Analysts (SSBA)</h2>
      <p align="center">&mdash; Supporting Sustainable Supervision Practices &mdash; </p>
    </div>

{% endblock %}

{% block content %}

<div class="col-sm-2">
&nbsp;
</div>

<div class="col-sm-8">
  <h2></h2>
  <p class="lead">Welcome to Supervision Solutions for Behavior Analysts (SSBA)! The SSBA offers a variety of tools to help you create, manage, and sustain effective supervision practices while engaging in professional skills development. </p>
{% if user.is_authenticated %}
        <a href='{% url "supervisors" %}' type="button" role="button" class="btn btn-default btn-lg btn-block">View the Dashboard</a>
        <!-- <li><a href='{% url "supervisees" %}'>Supervisee Dashboard</a></li> -->
{% else %}<br />
        <a href='{% url "login" %}' type="button" class="btn btn-default btn-lg btn-block" role="button">Login &raquo;</a>
        {% endif %}

</div>

<div class="col-sm-2">
&nbsp;
</div>

{% endblock %}