{% extends 'base.html' %}
            

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h2>BACB Supervisor Training Module</h2>
    </div>

{% endblock %}

{% block content %}

<div class="col-sm-3">
&nbsp;
</div>

<div class="col-sm-6">
  <h2>Heading</h2>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
{% if user.is_authenticated %}
        <button type="button" class="btn btn-default" role="button"><a href='{% url "supervisors" %}'>View the Dashboard</a></button>
        <!-- <li><a href='{% url "supervisees" %}'>Supervisee Dashboard</a></li> -->
{% else %}
        <button type="button" class="btn btn-default" role="button"><a href='{% url "login" %}'>Login &raquo;</a></button>
        {% endif %}

</div>

<div class="col-sm-3">
&nbsp;
</div>

{% endblock %}