{% extends 'base.html' %}

{% block jumbotron %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<h2>Foundational Knowledge Quiz</h2>
You can select which parts of the quiz you would like to administer to your supervisee, or design your own quiz using the free template provided. <br />
<hr />

<div class="container">
<div class="col-md-6">
<h3>Knowledge quiz template</h3>
<table class="table table-hover">
<tbody>
<tr>
	<td><img src="/static/media/pdf.png"></td>
	<td><p><a href="/static/media/foundation-quiz-template.pdf" target="_blank">Printable template</a></p>
	This 12 question quiz is customizable so you can choose which foundational knowledge concepts and principles you would like to assess.</td>
</tr>
<tr>
	<td></td>
	<!-- <td><p><a href="#" target="_blank">Create your own quiz</a></p> -->
	</td>
</tr>
</tbody>
</table>

</div>
<div class="col-md-6">
<h3>Flashcards</h3><br />

<table class="table table-hover">
<tbody>
<tr>
	<td><img src="/static/media/pdf.png"></td>
	<td><p><a href="/static/media/printable-flashcard-template.pdf" target="_blank">Printable template</a></p>
	These printable flashcards are customizable so you can choose which foundational knowledge concepts and principles definitions you would like your supervisees to learn.</td>
</tr>
<tr>
	<td><img src="/static/media/web.png"></td>
	<td><p><a href="https://quizlet.com/create-set" target="_blank">Create your own flashcards</a></p>
	Quizlet is a free tool to create and share customized flashcards.</td>
</tr>
</tbody>
</table>

</div>
</div>

{% endblock %}            

{% block content %}
<!-- <h1>Heading</h1> -->

{% endblock %}