{% extends 'base.html' %}

{% block jumbotron %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<h2>Foundational Knowledge Quiz</h2>
        
Integer sit amet enim eleifend, consectetur dui eu, finibus enim. Mauris et nulla imperdiet, tempus nulla id, laoreet purus. Nam cursus massa non nulla ornare tempus. Nam quam orci, ultricies nec fermentum vel, viverra sed tortor. Etiam laoreet tempus rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas et euismod massa, ac congue neque. Vestibulum bibendum, justo quis cursus semper, mi quam aliquet lectus, ac finibus nisl nunc et mi. Integer nec tortor vulputate enim feugiat ornare vitae non odio. Aenean consequat vel risus sollicitudin tincidunt.

Sed consectetur condimentum porta. Nam et quam at libero dignissim molestie non finibus sem. In mollis sem pulvinar eros varius, nec placerat ipsum sollicitudin. Donec ac dui ipsum. Nulla vel libero suscipit, ultrices odio non, efficitur lectus. Proin nec convallis purus. Quisque nec sodales tellus. Curabitur in risus mollis nibh sagittis pretium id quis dui. Donec aliquam lobortis viverra. Vivamus vitae ullamcorper libero, vel feugiat lectus. Vivamus quis arcu viverra, pellentesque dui non, sodales lacus. Duis facilisis dui eu neque tempor iaculis. In hac habitasse platea dictumst. Aliquam orci nisi, venenatis sed dui non, luctus consectetur tortor. In vulputate ligula eget diam imperdiet rhoncus.<br />
<hr />

<div class="container">
<div class="col-md-6">
<h3>Knowledge quiz template</h3>
<table class="table table-hover">
<tbody>
<tr>
	<td><img src="/media/pdf.png"></td>
	<td><p><a href="/media/foundation-quiz-template.pdf" target="_blank">Printable template</a></p>
	This 12 question quiz is customizable....</td>
</tr>
<tr>
	<td></td>
	<td><p><a href="#" target="_blank">Create your own quiz</a></p>
	</td>
</tr>
</tbody>
</table>

</div>
<div class="col-md-6">
<h3>Flashcards</h3><br />

<table class="table table-hover">
<tbody>
<tr>
	<td><img src="/media/pdf.png"></td>
	<td><p><a href="/media/printable-flashcard-template.pdf" target="_blank">Printable template</a></p>
	These printable flashcards....</td>
</tr>
<tr>
	<td><img src="/media/web.png"></td>
	<td><p><a href="https://quizlet.com/create-set" target="_blank">Create your own flashcards</a></p>
	Quizlet is a free tool to create and share customized flashcards</td>
</tr>
</tbody>
</table>

</div>
</div>

{% endblock %}            

{% block content %}
<!-- <h1>Heading</h1> -->

{% endblock %}