{% extends 'base.html' %}

{% block jumbotron %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<h2>Sample Contracts</h2>
        
Integer sit amet enim eleifend, consectetur dui eu, finibus enim. Mauris et nulla imperdiet, tempus nulla id, laoreet purus. Nam cursus massa non nulla ornare tempus. Nam quam orci, ultricies nec fermentum vel, viverra sed tortor. Etiam laoreet tempus rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas et euismod massa, ac congue neque. Vestibulum bibendum, justo quis cursus semper, mi quam aliquet lectus, ac finibus nisl nunc et mi. Integer nec tortor vulputate enim feugiat ornare vitae non odio. Aenean consequat vel risus sollicitudin tincidunt.
<hr />
<table class="table table-hover">
<tbody>
<tr>
  <td><img src="/media/pdf.png" height="25px" width="25px"></td>
  <td><a href="/media/sample-supervision-contract-independent-supervision.docx" target="_blank">Sample Supervision Contract - Independent Supervision</a></td>
</tr>
<tr>
<td><img src="/media/pdf.png" height="25px" width="25px"></td>
  <td><a href="/media/sample-supervision-contract-practicum.docx" target="_blank">Sample Supervision Contract - Practicum</td>
</tr>
<tr>
<td><img src="/media/pdf.png" height="25px" width="25px"></td>
  <td><a href="/media/sample-supervision-contract-within-agency.docx" target="_blank">Sample Supervision Contract - Within Agency</td>
</tr>
<td><img src="/media/pdf.png" height="25px" width="25px"></td>
  <td><a href="/media/sample-supervision-wmu.docx" target="_blank">Sample Supervision Contract - Western Michigan University</td>
</tr>
</tbody>
</table>



{% endblock %}            

{% block content %}
<!-- <h1>Heading</h1> -->

{% endblock %}