{% extends 'base.html' %}

{% block jumbotron %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<h2>Sample Contracts</h2>
        
Our sample contracts are modifiable to meet your specific needs. All contracts contain the necessary components to be in line with the BACB’s contract requirements for supervision.  Please also review the BACB’s modifiable contract disclaimer. <br /><br />
<strong>Click any of the relevant contracts below and fill in the form with your organizational information/requirements. </strong>
<hr />
<table class="table table-hover">
<tbody>
<tr>
  <td><img src="/static/media/pdf.png" height="25px" width="25px"></td>
  <td><a href="/static/media/sample-supervision-contract-independent-supervision.docx" target="_blank">Sample Supervision Contract - Independent Supervision</a></td>
</tr>
<tr>
<td><img src="/static/media/pdf.png" height="25px" width="25px"></td>
  <td><a href="/static/media/sample-supervision-contract-practicum.docx" target="_blank">Sample Supervision Contract - Practicum</td>
</tr>
<tr>
<td><img src="/static/media/pdf.png" height="25px" width="25px"></td>
  <td><a href="/static/media/sample-supervision-contract-within-agency.docx" target="_blank">Sample Supervision Contract - Within Agency</td>
</tr>
<td><img src="/static/media/pdf.png" height="25px" width="25px"></td>
  <td><a href="/static/media/sample-supervision-wmu.docx" target="_blank">Sample Supervision Contract - Western Michigan University</td>
</tr>
</tbody>
</table>
{% endblock %}            

{% block content %}
<!-- <h1>Heading</h1> -->

{% endblock %}