{% extends 'base.html' %}

{% block jumbotron %}

 <!-Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<h2>Supervisor Self-Assessment for Professional Development</h2>
Rate yourself on each of the following areas of supervision. The items in <strong>BOLD</strong> are considered critical aspects of supervision. If you are unable to perform any <strong>BOLDED</strong> items, please add them to your professional development plan and set a timely deadline for developing those skills. Once you have completed the self-assessment, identify 3 opportunities for professional development and complete the Professional Development Plan.<br /><br />
<div class="container">
<div class="col-md-10">
<form method='POST' action=''> {% csrf_token %}

<h3>I. The Purpose of Supervision</h3>
A. The supervisor should be able to describe the following reasons for effective, evidence-based supervision:
<ul>
  <li>To facilitate the delivery of high-quality services that result in client improvement</li>
  <li><strong>To develop behavior-analytic, professional, and ethical repertoires in specific areas of behavior-analytic practice as specified by the BACB&rsquo;s current task list, </strong><strong><em>Professional Disciplinary and Ethical Standards</em>, and <em>Guidelines for Responsible Conduct for Behavior Analysts</em></strong>
  <li>To guide behavioral case conceptualization, problem solving, decision making, and assistance seeking of the supervisee</li>
  <li>To improve current repertoires of the supervisee</li>
  <li>To maintain beneficial repertoires of the supervisee</li>
  <li>To model effective supervision practices for the supervisee</li>
</ul>
<table cellspacing="0" cellpadding="15" class="table table-bordered">
  <tr>
    <td valign="top"><strong>Rating</strong></td>
    <td valign="top"><strong>Rating Description</strong></td>
  </tr>
  <tr>
    <td valign="top">Does not meet the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_1A" value="radio" id="RadioGroup1_35"> 
      Cannot describe the   development of behavior-analytic, professional, and ethical repertoires in   specific areas of behavior-analytic practice as specified by the BACB&rsquo;s   current task list, <em>Professional Disciplinary and   Ethical Standards</em>, and <em>Guidelines for Responsible Conduct   for Behavior Analysts</em><br>
      <input type="radio" name="self_assess_1A" value="radio" id="RadioGroup1_36">
Can only describe 2 or fewer reasons   for effective and evidence-based supervision</td>
  </tr>
  <tr>
    <td valign="top">Meets the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_1A" value="radio" id="RadioGroup1_37"> 
      Can describe the development of   behavior-analytic, professional, and ethical repertoires in specific areas of   behavior-analytic practice as specified by the BACB&rsquo;s current task list, <em>Professional   Disciplinary and Ethical Standards</em>, and <em>Guidelines   for Responsible Conduct for Behavior Analysts</em><br>
      <input type="radio" name="self_assess_1A" value="radio" id="RadioGroup1_38">
Can describe 3 reasons for effective and evidence-based supervision</td>
  </tr>
  <tr>
    <td valign="top">Exceeds the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_1A" value="radio" id="RadioGroup1_39"> 
      Can describe the development of   behavior-analytic, professional, and ethical repertoires in specific areas of   behavior-analytic practice as specified by the BACB&rsquo;s current task list, <em>Professional   Disciplinary and Ethical Standards</em>, and <em>Guidelines   for Responsible Conduct for Behavior Analysts</em><br>
      <input type="radio" name="self_assess_1A" value="radio" id="RadioGroup1_40">
Can describe 4 or more reasons for effective and evidence-based supervision<br>
      <input type="radio" name="self_assess_1A" value="radio" id="RadioGroup1_41">
Can illustrate or provide examples/non-examples of evidence-based   supervision based on experience or literature</td>
  </tr>
</table>
B. The supervisor should be able to describe the following potential outcomes of ineffective supervision:
<ul>
  <li><strong>Low-quality services to clients that result in lack of client progress or harm</strong></li>
  <li>Poor-performing supervisees with insufficient practice repertoires</li>
  <li>Poor-performing supervisees unable to problem solve and make decisions in novel or unfamiliar situations</li>
  <li><strong>Supervisees who do not become effective supervisors in their own practices</strong></li>
  <li><strong>Supervisees who engage in unethical behavior</strong></li>
</ul>
<table cellspacing="0" cellpadding="15" class="table table-bordered">
  <tr>
    <td valign="top"><strong>Rating</strong></td>
    <td valign="top"><strong>Rating   Description</strong></td>
  </tr>
  <tr>
    <td valign="top">Does not meet the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_1B" value="radio" id="RadioGroup1_42"> 
      Cannot describe 1.B.a,d, and e</td>
  </tr>
  <tr>
    <td valign="top">Meets the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_1B" value="radio" id="RadioGroup1_43"> 
      Can describe 1.B.a,d, and e</td>
  </tr>
  <tr>
    <td valign="top">Exceeds the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_1B" value="radio" id="RadioGroup1_44"> 
      Can describe 1.B.a,d, and e<br>
      <input type="radio" name="self_assess_1B" value="radio" id="RadioGroup1_45">
Can describe at least 1 additional potential outcome of ineffective   supervision<br>
    </td>
  </tr>
</table>
<hr />
<h3>II. Important Features of Supervision</h3>
The supervisor should be able to describe or demonstrate the following components of effective, evidence-based supervision:
<ul>
  <li><strong>Establishment of performance expectations of both supervisor and supervisee</strong></li>
  <li>Description of how supervision will proceed according to the BACB <em>Experience Standards </em>(e.g., frequency of individual supervision, group supervision)</li>
  <li><strong>Able to locate the Experience Standards</strong></li>
  <li>Description of potentially appropriate activities as described in the BACB <em>Experience Standards</em></li>
  <li><strong>Able to distinguish the activities that are, and are not, appropriate in accordance the Experience Standards (e.g., can I count my supervision hours when I driving to and from clients?)</strong><strong></strong></li>
  <li>Description of competency tests of understanding</li>
  <li><strong>Development and review of contractual agreement of the nature of supervision and performance expectations</strong><strong></strong></li>
  <li><strong>Assessment of initial skills of supervisee</strong><strong></strong></li>
  <ul>
    <li><strong>Interview</strong></li>
    <li><strong>Observation</strong></li>
  </ul>
  <li><strong>Behavioral skills training of supervisee</strong></li>
  <li><strong>Scheduled observations that may include in-vivo, video, web-based, computer-assisted observations</strong></li>
  <li><strong>Before,</strong></li>
  <li><strong> during, </strong></li>
  <li><strong>and after training</strong></li>
  <li><strong>Review of written materials developed by the supervisee, including written plans, data sheets, and reports</strong></li>
  <li><strong>Ongoing scheduled supervision meetings</strong></li>
  <li><strong>Individual</strong></li>
  <li>Group</li>
  <li>Web-based, computer assisted</li>
  <li><strong>Performance evaluations (formal &amp; informal) of the supervisee</strong></li>
  <li><strong>At least filling the supervisee&rsquo;s Experience supervision form</strong></li>
  <li>Meetings</li>
  <li>Written evaluations</li>
  <li>Evaluation of the supervision process and the supervisor by the supervisee</li>
  <li>Meetings</li>
  <li>Written evaluations</li>
</ul>
<table cellspacing="0" cellpadding="15" class="table table-bordered">
  <tr>
    <td valign="top"><strong>Rating</strong></td>
    <td valign="top"><strong>Rating Description</strong></td>
  </tr>
  <tr>
    <td valign="top">Does not meet the expectations</td>
    <td valign="top">
      <input type="radio" name="self_assess_2" value="radio" id="RadioGroup1_0">
      Cannot describe and/or demonstrate   all of the following: II. a), c), d), e), f), g), h), i), j.II), k), l.I),   m.I)</p></td>
  </tr>
  <tr>
    <td valign="top">Meets the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_2" value="radio" id="RadioGroup1_1"> 
      Can describe and/or demonstrate all   of the following: II. a), c), d), e), f), g), h), i), j.II), k), l.I), m.I)</td>
  </tr>
  <tr>
    <td valign="top">Exceeds the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_2" value="radio" id="RadioGroup1_2"> 
      Can describe and/or demonstrate all   of the following: II. a), c), d), e), f), g), h), i), j.II), k), l.I), m.I)<br>
      <input type="radio" name="self_assess_2" value="radio" id="RadioGroup1_3">
Can describe and/or demonstrate at least 1 additional components of   effective and evidence-based supervision</td>
  </tr>
</table>
<hr />
<h3>III. Behavioral Skills Training</h3>
A. The supervisor should be able to describe and demonstrate the following components of behavioral skills training of the supervisee:
<ul>
  <li>Provide a rationale for why the target skills are to be trained</li>
  <li>Provide a succinct, written description (instructions) of the target skills</li>
  <li><strong>Provide a detailed, vocal description (instructions) of the target skills</strong></li>
  <li><strong>Demonstrate (model) each of the target skills</strong></li>
  <li><strong>Require supervisees to practice (rehearse) each target skill</strong></li>
  <li><strong>Provide positive and corrective feedback to supervisee</strong></li>
  <li>Repeat the previous step until supervisee performs each target skill correctly</li>
  <li>Assess application and generalization of skills to new targets, clients, and settings, when appropriate</li>
</ul>
<table cellspacing="0" cellpadding="15" class="table table-bordered">
  <tr>
    <td valign="top"><strong>Rating</strong></td>
    <td valign="top"><strong>Rating   Description</strong></td>
  </tr>
  <tr>
    <td valign="top">Does not meet the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_3A" value="radio" id="RadioGroup1_4"> 
      Cannot describe and/or demonstrate   the following components of BST of supervisees: III.A.c,d,e,f</td>
  </tr>
  <tr>
    <td valign="top">Meets the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_3A" value="radio" id="RadioGroup1_5"> 
      Can describe and demonstrate the   following components of BST of supervisees: III.A.c,d,e,f</td>
  </tr>
  <tr>
    <td valign="top">Exceeds the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_3A" value="radio" id="RadioGroup1_6"> 
      Can describe and/or demonstrate the   following components of BST of supervisees: III.A.c,d,e,f<br>
      <input type="radio" name="self_assess_3A" value="radio" id="RadioGroup1_7">
Can describe and/or demonstrate at least 1 additional component of BST of   supervisees</td>
  </tr>
</table>
B. The supervisor should be able to describe the following formats for providing behavioral skills training:
<ul>
  <li>In person</li>
  <li>Role-play assessment</li>
  <li>In-vivo assessment</li>
  <li>Through visual media such as video, computer, and web-based technologies</li>
  <li>With individual supervisees</li>
  <li>With a group of supervisees</li>
</ul>
<table cellspacing="0" cellpadding="15" class="table table-bordered">
  <tr>
    <td valign="top"><strong>Rating</strong></td>
    <td valign="top"><strong>Rating   Description</strong></td>
  </tr>
  <tr>
    <td valign="top">Does not meet the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_3B" value="radio" id="RadioGroup1_8"> 
      Cannot describe any format for   providing BST</td>
  </tr>
  <tr>
    <td valign="top">Meets the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_3B" value="radio" id="RadioGroup1_9"> 
      Can describe at least 1 format for   providing BST</td>
  </tr>
  <tr>
    <td valign="top">Exceeds the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_3B" value="radio" id="RadioGroup1_10"> 
      Can describe more than 1 format for   providing BST</td>
  </tr>
</table>
C. The supervisor should be able to apply behavioral skills training across relevant skill areas including, but not limited to, those outlined in the task list. Examples include:
&nbsp;
From Section I and II (Not III)
<ul>
  <li>Measurement (Section I – Basic Behavior Analytic Skills)</li>
  <li>Experimental design</li>
  <li>Behavior change considerations</li>
  <li><strong>Fundamental elements of  behavior-change </strong></li>
  <li>Specific behavior change procedures</li>
  <li>Behavior change systems</li>
  <li>Identification of problem</li>
  <li>Measurement (Section II – Client-Centered Responsibilities)</li>
  <li>Assessment</li>
  <li>Intervention</li>
  <li>Implementing, management, and supervision</li>
  <li><strong>Data collection and analysis</strong></li>
  <li><strong>Case conceptualization</strong></li>
  <li><strong>Problem solving</strong></li>
  <li><strong>Decision making</strong></li>
  <li>Resource seeking (e.g., facilitating additional consultation, mentorship, collaboration)</li>
</ul>
<table cellspacing="0" cellpadding="15" class="table table-bordered">
  <tr>
    <td valign="top"><strong>Rating</strong></td>
    <td valign="top"><strong>Rating   Description</strong></td>
  </tr>
  <tr>
    <td valign="top">Does not meet the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_3C" value="radio" id="RadioGroup1_11"> 
      Cannot apply BST to some of the task   list items within the following areas: III.C.d,l,m,n,o</td>
  </tr>
  <tr>
    <td valign="top">Meets the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_3C" value="radio" id="RadioGroup1_12"> 
      Can apply BST to some of the task   list items within the following areas: III.C.d,l,m,n,o</td>
  </tr>
  <tr>
    <td valign="top">Exceeds the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_3C" value="radio" id="RadioGroup1_13"> 
      Can apply BST to some of the task   list items within the following areas: III.C.d,l,m,n,o<br>
      <input type="radio" name="self_assess_3C" value="radio" id="RadioGroup1_14">
Can apply BST to …</td>
  </tr>
</table>
<hr />
<h3>IV. Delivering Performance feedback</h3>
A. The supervisor should be able to describe and demonstrate the following components of performance feedback:
<ul>
  <li><strong>Positive feedback involving contingent, descriptive praise</strong></li>
  <li><strong>Corrective feedback</strong></li>
  <li>Provide an empathy statement</li>
  <li><strong>Describe ineffective performance</strong></li>
  <li>Provide a rationale for desired change in performance</li>
  <li><strong>Provide instructions and demonstration for how to improve designated performance</strong></li>
  <li>Provide opportunities to practice the desired performance</li>
  <li>Provide immediate feedback</li>
  <li>Follow-up</li>
</ul>
<table cellspacing="0" cellpadding="15" class="table table-bordered">
  <tr>
    <td valign="top"><strong>Rating</strong></td>
    <td valign="top"><strong>Rating   Description</strong></td>
  </tr>
  <tr>
    <td valign="top">Does not meet the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_4A" value="radio" id="RadioGroup1_15"> 
      Cannot describe and/or demonstrate   the following components of performance feedback: IV.A.a,bII,bIV, </td>
  </tr>
  <tr>
    <td valign="top">Meets the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_4A" value="radio" id="RadioGroup1_16"> 
      Can describe and/or demonstrate the   following components of performance feedback: IV.A.a,bII,bIV,</td>
  </tr>
  <tr>
    <td valign="top">Exceeds the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_4A" value="radio" id="RadioGroup1_17"> 
      Can describe and/or demonstrate the   following components of performance feedback: IV.A.a,bII,bIV,<br>
      <input type="radio" name="self_assess_4A" value="radio" id="RadioGroup1_18">
Can describe and/or demonstrate at least 1 additional component of   performance feedback</td>
  </tr>
</table>
B. The supervisor should be able to describe the following ways of providing feedback:
<ul>
  <li>Vocal</li>
  <li>Written</li>
  <li>Modeled</li>
  <li>Video</li>
  <li>Graphic</li>
  <li>Self-monitored</li>
  <li>Formal (e.g., in scheduled situations such as pre-arranged meetings)</li>
  <li>Informal (e.g., ongoing, on-the-job)</li>
</ul>
<table cellspacing="0" cellpadding="15" class="table table-bordered">
  <tr>
    <td valign="top"><strong>Rating</strong></td>
    <td valign="top"><strong>Rating   Description</strong></td>
  </tr>
  <tr>
    <td valign="top">Does not meet the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_4B" value="radio" id="RadioGroup1_19"> 
      Cannot describe 1 or fewer ways of   providing feedback</td>
  </tr>
  <tr>
    <td valign="top">Meets the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_4B" value="radio" id="RadioGroup1_20"> 
      Can describe at least 2 ways of   providing feedback<br>
    </td>
  </tr>
  <tr>
    <td valign="top">Exceeds the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_4B" value="radio" id="RadioGroup1_21"> 
      Can describe 3 or more ways of   providing feedback</td>
  </tr>
</table>
<hr />
<h3>V. Evaluating the Effects of Supervision</h3>
The supervisor should be able to describe methods to evaluate supervisory effectiveness:
<strong>Any <u>one</u> of these is necessary </strong><br>
  Methods: a), b), and c)<br>
  Procedures: Roman Numerals 
<ul>
  <li>Evaluation of supervision based on client performance</li>
  <li>Objective measures of client behavior addressed by services (e.g., graphic display of client performance)</li>
  <li>Interviews and direct observations of client and caregiver satisfaction with services (e.g., social validity / satisfaction questionnaires)</li>
  <li>Matching observations and evaluation methods to the client goals and setting</li>
  <li>Evaluation of supervision based on staff performance</li>
  <li>Objective measures of direct observation of staff behavior addressed in training and supervision</li>
  <li>Interviews and direct observations of staff satisfaction with training and supervision</li>
  <li>Matching observations and evaluation to the supervisee&rsquo;s goals and setting</li>
  <li>Evaluation of supervision fidelity based on evidence-based, intervention specific criteria for supervisory behavior</li>
  <li>Specification of supervisory performance criteria</li>
  <li>Self-observation of supervisory performance</li>
  <li>Peer observation of supervisory performance</li>
  <li>Mentor observation of supervisory performance</li>
</ul>
<table cellspacing="0" cellpadding="15" class="table table-bordered">
  <tr>
    <td valign="top"><strong>Rating</strong></td>
    <td valign="top"><strong>Rating   Description</strong></td>
  </tr>
  <tr>
    <td valign="top">Does not meet the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_5" value="radio" id="RadioGroup1_22"> 
      Can describe no methods to evaluate   supervisory effectiveness<br>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_23">
Can describe one or more methods but cannot describe at least one specific   procedure for evaluating supervisor&rsquo;s effectiveness</td>
  </tr>
  <tr>
    <td valign="top">Meets the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_5" value="radio" id="RadioGroup1_24"> 
      Can describe at least 1 method to   evaluate supervisory effectiveness<br>
      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_25">
Can describe one or more methods and can describe at least one specific   procedure for evaluating supervisor&rsquo;s effectiveness within a particular   method</td>
  </tr>
  <tr>
    <td valign="top">Exceeds the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_5" value="radio" id="RadioGroup1_26"> 
      Can describe 1 or more methods to   evaluate supervisory effectiveness including all procedures within those   particular methods</td>
  </tr>
</table>
<hr />
<h3>VI. Ongoing Professional Development</h3>
A. The supervisor should be able to describe the following methods for his/her ongoing professional development as a supervisor:
<ul>
  <li>Creating a continuous learning community to enhance supervisory and training behavior</li>
  <li>Regular review of resources and research for best practices in supervision</li>
  <li>Supervisory study groups</li>
  <li><strong>Attending conferences</strong></li>
  <li><strong>Seeking peer review</strong></li>
  <li>Seeking mentorship</li>
  <li>Regular review of resources and research relevant to supervisee&rsquo;s area of practice</li>
  <li><strong>Seeking consultation when necessary</strong></li>
</ul>
<table cellspacing="0" cellpadding="15" class="table table-bordered">
  <tr>
    <td valign="top"><strong>Rating</strong></td>
    <td valign="top"><strong>Rating   Description</strong></td>
  </tr>
  <tr>
    <td valign="top">Does not meet the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_6A" value="radio" id="RadioGroup1_27"> 
      Cannot describe the following methods   for his/her ongoing professional development as a supervisor: VI.A.d,e,h</td>
  </tr>
  <tr>
    <td valign="top">Meets the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_6A" value="radio" id="RadioGroup1_28"> 
      Can describe the following methods   for his/her ongoing professional development as a supervisor: VI.A.d,e,h</td>
  </tr>
  <tr>
    <td valign="top">Exceeds the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_6A" value="radio" id="RadioGroup1_29"> 
      Cannot describe the following methods   for his/her ongoing professional development as a supervisor: VI.A.d,e,h<br>
      <input type="radio" name="self_assess_6A" value="radio" id="RadioGroup1_30">
Can describe 1 or more additional methods for his/her ongoing professional   development as a supervisor</td>
  </tr>
</table>
B. The supervisor should be able to describe the following methods for the ongoing professional development of the supervisee:
<ul>
  <li>Creating a continuous learning community to enhance behavior-analytic skills</li>
  <li>Regular review of resources and research for best practices in applied behavior analysis</li>
  <li>Creating study groups and journal clubs</li>
  <li><strong>Attending conferences</strong></li>
  <li><strong>Seeking peer review</strong></li>
  <li>Seeking mentorship</li>
  <li><strong>Seeking consultation when necessary</strong></li>
</ul>
<table cellspacing="0" cellpadding="15" class="table table-bordered">
  <tr>
    <td valign="top"><strong>Rating</strong></td>
    <td valign="top"><strong>Rating   Description</strong></td>
  </tr>
  <tr>
    <td valign="top">Does not meet the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_6B" value="radio" id="RadioGroup1_31"> 
      Cannot describe the following methods   for ongoing professional development of the supervisee: VI.B.d,e,g</td>
  </tr>
  <tr>
    <td valign="top">Meets the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_6B" value="radio" id="RadioGroup1_32"> 
      Can describe the following methods   for ongoing professional development of the supervisee: VI.B.d,e,g</td>
  </tr>
  <tr>
    <td valign="top">Exceeds the expectations</td>
    <td valign="top"><input type="radio" name="self_assess_6B" value="radio" id="RadioGroup1_33"> 
      Can describe the following methods   for ongoing professional development of the supervisee: VI.B.d,e,g<br>
      <input type="radio" name="self_assess_6B" value="radio" id="RadioGroup1_34">
Can describe 1 or more additional methods for ongoing professional   development of the supervisee</td>
  </tr>
</table>
&nbsp;
<div>
  <div> </div>
</div>


<br />
<p align="center"><input type='submit' class='btn btn-success'>
</form>
</div>
</div>
<h3>Printable Examples</h3>
<table class="table table-hover">
<tbody>
<tr>
  <td><img src="/media/pdf.png" height="25px" width="25px"></td>
  <td><a href="/media/training-storyboard-example.pdf" target="_blank">Task Analysis Example</td>
</tr>
</tbody>
</table>



<br />
<br />
</div>
>?:
{% endblock %}            

{% block content %}
<!-<h1>Heading</h1> -->

{% endblock %}