{% extends 'base.html' %}

{% block jumbotron %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<h2>Supervision Training Storyboard Template</h2>
Etiam laoreet tempus rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas et euismod massa, ac congue neque. Vestibulum bibendum, justo quis cursus semper, mi quam aliquet lectus, ac finibus nisl nunc et mi. Integer nec tortor vulputate enim feugiat ornare vitae non odio. Aenean consequat vel risus sollicitudin tincidunt.<br /><br />
<a href="#">My Storyboards</a>
<br />
<h3>Create a new storyboard</h3>
<div class="container">
<div class="col-md-8">
<form method='POST' action=''> {% csrf_token %}
  <table border="0" cellpadding="15" class="table">
    <tbody>
      <tr>
        <td valign="top">Performance</td>
        <td colspan="2"><input type="text" name="performance" id="id_performance" size="95"></td>
      </tr>
      <tr>
        <td valign="top">Rationale</td>
        <td colspan="2"><textarea name="rational" id="id_rational" cols="98" rows="5"></textarea></td>
      </tr>
      <tr>
        <td rowspan="2" valign="top">Modeling</td>
        <td align="center">Say</td>
        <td align="center">Do</td>
      </tr>
      <tr>
        <td align="center"><textarea name="modeling_say" id="id_modeling_say" cols="40" rows="10"></textarea></td>
        <td align="center"><textarea name="modeling_do" id="id_modeling_do" cols="40" rows="10"></textarea></td>
      </tr>
      <tr>
        <td valign="top">Practice</td>
        <td colspan="2"><textarea name="practice" id="id_practice" cols="98" rows="10"></textarea></td>
      </tr>
      <tr>
        <td valign="top">Feedback</td>
        <td colspan="2"><textarea name="feedback" id="id_feedback" cols="98" rows="10"></textarea></td>
      </tr>
      <tr>
        <td valign="top">Evaluation</td>
        <td colspan="2"><textarea name="evaluation" id="id_evaluation" cols="98" rows="10"></textarea></td>
      </tr>
    </tbody>
  </table>
<br />
<p align="center"><input type='submit' class='btn btn-success'></p>
</form>
</div>
</div>
<h3>Printable storyboard templates and examples</h3>
<table class="table table-hover">
<tbody>
<tr>
  <td><img src="/media/word.png" height="25px" width="25px"></td>
  <td><a href="/media/training-storyboard-template.doc" target="_blank">Downloadable Word template</a></td>
  <td><img src="/media/pdf.png" height="25px" width="25px"></td>
  <td><a href="/media/training-storyboard-example.pdf" target="_blank">Template example using chart sharing</td>
</tr>
</tbody>
</table>
<br />
<br />
</div>

{% endblock %}            

{% block content %}
<!-- <h1>Heading</h1> -->

{% endblock %}