{% extends 'base.html' %}
            

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div>
      <div class="container">
        <p>&nbsp</p>
        <p>&nbsp</p>
        <h1>Supervisee Dashboard</h1>
        <p>You are on the main page of your supervisee dashboard. The features on this page will help you organize the materials and tools necessary for your supervision, and it also lets you view your performance feedback and your progress through your supervision.</p>
      </div>
    </div>

{% endblock %}

{% block content %}

<div class="container">
 <div class="col-md-6">
          <h3>Assessment and Contract Development</h3>
          <hr />
          <p>You can access forms and materials related to the assessment of your skills from this menu. Specifically, you can take or review your results on the Foundational Knowledge Quiz. You can access the Supervisee Self-Assessment which you take at the beginning, during, and at the conclusion of your supervisory experience to evaluate your ability to perform tasks/skills. You can also browse through the Job Models your supervisor posted which summarizes the tasks and skills you will be trained in. Finally, you can view the goal Supervision Feedback and Goal Setting Form which helps you and your supervisor pinpoint specific skills areas for supervision.</p>
          <div class="btn-group-vertical">
          <a href='' type="button" class="btn btn-default" role="button">Self-assessment form  &raquo;</a>
          <a href='' type="button" class="btn btn-default" role="button">Goal generator  &raquo;</a> 
          </div>
        </div>
        <div class="col-md-6">
          <h3>Training Development</h3>
          <hr />
          <p>Your supervisor continuously develops tools and templates helping him/her to provide you with the highest quality supervision and enhance your experience as a supervisee. Your supervisor may sometimes choose to share those materials with you for your viewing. The main tools you may have access to are task analyses and training storyboards.</p>
          <a href='' type="button" class="btn btn-default" href="#" role="button">Training tools &raquo;</a>
       </div>
       </div>
       <div class="container">
        <div class="col-md-6">
          <h3>Performance Monitoring</h3>
          <hr />
          <p>Access templates for supervision feedback forms, goal setting forms, and other performance monitoring tools used to track your progress during supervision.</p>
          <a href='' type="button" class="btn btn-default" href="#" role="button">Supervision tracking form &raquo;</a>
        </div>
        <div class="col-md-6">
          <h3>Evaluation and Prof. Development</h3>
          <hr />
          <p>Supervisee and supervisor assessments are located in this menu. To wrap up your supervision experience, you will want to update your Supervisee Self-Assessment, evaluate how your supervisor did as your supervisor, and update your portfolio.</p>
          <div class="btn-group-vertical">
          <a href='' type="button" class="btn btn-default" href="#" role="button">Supervision Evaluation Form &raquo;</a>
          <a href='' type="button" class="btn btn-default" href="#" role="button">Portfolio generator &raquo;</a>
          </div>
        </div>
</div>

<hr />

<div class="container">
<div class="col-md-6">

<h3>Portfolio</h3>
{% include 'portfolioview.html' %}
</div>
<div class="col-md-6">
<h3>Resources</h3>
<ul>
  <li>
    <a href="#">Skills Hierarchy</a>
  </li>
</ul>
</div>
</div>

{% endblock %}