{% extends 'base.html' %}

{% block jumbotron %}



 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<h2>Supervision Feedback and Goal Setting Form</h2>
 You will use this form to generate goals, collect data, and provide feedback to your supervisee on the skills they are learning throughout the supervision process.  At the end of each form, you will also find and area to comment on professionalism.<br /><br />
<strong> Complete each section of the feedback and goal setting form using the results from current and previous supervisee assessments. Identify the supervisee’s current performance level across all performances or skills first, then identify specific performances/skills to provide goals for/feedback on. It is important to focus on a relatively small number of skills at one time in order to maximize potential for success.</strong>
<hr />

<form method='POST' action=''> {% csrf_token %}
<table width="100%" border="0" cellpadding="5" class="table">
  <tbody>
    <tr>
      <td><strong>Supervisee:</strong>
        {{ form.Supervisees }}</td>
      <td><strong>Supervisor:</strong>
        {{ request.user.first_name }} {{ request.user.last_name }}</td>
    </tr>
    <tr>
      <td><strong>Setting:</strong>
        <input type="text" name="setting" id="id_setting"></td>
      <td><strong>Date:</strong>
        <input type="text" name="date" id="id_date"><br />
        <strong>Time:
        <input type="text" name="start_time" id="id_start_time" size="4"> 
        to
        <input type="text" name="end_time" id="id_end_time" size="4">
        </strong></td>
    </tr>
  </tbody>
</table>
<h3>Overall Assessment Results:</h3>
<table width="100%" border="0" cellpadding="5" class="table">
  <tbody class="borderless">
    <tr>
      <td>Can’t Do Yet: <input type="text" name="oar_cant" id="id_oar_cant" size="3">%</td>
      <td>Can Do w/ Coaching: <input type="text" name="oar_canwcoaching" id="id_oar_canwcoaching" size="3">%</td>
      <td>Can Do w/o Coaching: <input type="text" name="oar_canwocoaching" id="id_oar_canwocoaching" size="3">%</td>
      <td>Can Coach Others: <input type="text" name="oar_cancoach" id="id_oar_cancoach" size="3">%</td>
    </tr>
  </tbody>
</table>
<p><strong>Job Performance:</strong> <input type="text" name="p1_job_performance" id="id_p1_job_performance"></td>
  <table width="80%" border="0" cellpadding="15" class="table table-bordered">
    <tbody>
      <tr>
        <td width="17%" valign="top">Current Level:</td>
        <td width="83%"><input type="checkbox" name="p2_no_limited" value="no_knowledge" id="id_p2_no_limited">no/limited&nbsp;&nbsp;&nbsp;
        <input type="checkbox" name="p2_can_w_coaching" value="with_coaching" id="id_p2_can_w_coaching">
        can do w/ coaching&nbsp;&nbsp;&nbsp;
        <input type="checkbox" name="p2_can_wo_coaching" value="without_coaching" id="id_p2_can_wo_coaching">
        can do w/o coaching&nbsp;&nbsp;&nbsp;
        <input type="checkbox" name="p2_can_coach" value="can_coach" id="id_p2_can_coach">
        can coach others</td>
      </tr>
      <tr>
        <td valign="top">Feedback:</td>
        <td><textarea name="p1_feedback" id="id_p1_feedback" cols="75" rows="4"></textarea></td>
      </tr>
      <tr>
        <td valign="top">Goals: </td>
        <td>
        <input id="id_p1_train" name="p1_train" type="checkbox" />
        train&nbsp;&nbsp;&nbsp;
        <input id="id_p1_generalize" name="p1_generalize" type="checkbox" />
        generalize&nbsp;&nbsp;&nbsp;
        <input id="id_p1_monitor" name="p1_monitor" type="checkbox" />
        monitor&nbsp;&nbsp;&nbsp;
        <input id="id_p1_lead_train_others" name="p1_lead_train_others" type="checkbox" />
        lead/train others</td>
      </tr>
      <tr>
        <td valign="top">Action Plan: </td>
        <td><textarea name="p1_actionplan" id="id_p1_actionplan" cols="75" rows="4"></textarea></td>
      </tr>
    </tbody>
  </table>
  <p><strong>Job Performance:</strong> <input type="text" name="p2_job_performance" id="id_p2_job_performance">
  <table width="80%" border="0" cellpadding="15" class="table table-bordered">
    <tbody>
      <tr>
        <td width="17%" valign="top">Current Level:</td>
        <td width="83%"><input id="id_p2_no_limited" name="p2_no_limited" type="checkbox" />
          no/limited&nbsp;&nbsp;&nbsp;
            <input id="id_p2_can_w_coaching" name="p2_can_w_coaching" type="checkbox" />
          can do w/ coaching&nbsp;&nbsp;&nbsp;
          <input id="id_p2_can_wo_coaching" name="p2_can_wo_coaching" type="checkbox" />
          can do w/o coaching&nbsp;&nbsp;&nbsp;
          <input id="id_p2_can_coach" name="p2_can_coach" type="checkbox" />
          can coach others</td>
      </tr>
      <tr>
        <td valign="top">Feedback:</td>
        <td><textarea name="p2_feedback" id="id_p2_feedback" cols="75" rows="4"></textarea></td>
      </tr>
      <tr>
        <td valign="top">Goals: </td>
        <td><input id="id_p2_train" name="p2_train" type="checkbox" />
          train&nbsp;&nbsp;&nbsp;
            <input id="id_p2_generalize" name="p2_generalize" type="checkbox" />
          generalize&nbsp;&nbsp;&nbsp;
            <input id="id_p2_monitor" name="p2_monitor" type="checkbox" />
            monitor&nbsp;&nbsp;&nbsp;
            <input id="id_p2_lead_train_others" name="p2_lead_train_others" type="checkbox" />
            lead/train others</td>
      </tr>
      <tr>
        <td valign="top">Action Plan: </td>
        <td><textarea name="p2_actionplan" id="id_p2_actionplan" cols="75" rows="4"></textarea></td>
      </tr>
    </tbody>
  </table>
  <p><strong>Job Performance:</strong> <input type="text" name="p3_job_performance" id="id_p3_job_performance">
  <table width="80%" border="0" cellpadding="15" class="table table-bordered">
    <tbody>
      <tr>
        <td width="17%" valign="top">Current Level:</td>
        <td width="83%"><input id="id_p3_no_limited" name="p3_no_limited" type="checkbox" /> no/limited&nbsp;&nbsp;&nbsp;
            <input id="id_p3_can_w_coaching" name="p3_can_w_coaching" type="checkbox" />
          can do w/ coaching&nbsp;&nbsp;&nbsp;
          <input id="id_p3_can_wo_coaching" name="p3_can_wo_coaching" type="checkbox" />
          can do w/o coaching&nbsp;&nbsp;&nbsp;
          <input id="id_p3_can_coach" name="p3_can_coach" type="checkbox" />
          can coach others</td>
      </tr>
      <tr>
        <td valign="top">Feedback:</td>
        <td><textarea name="p3_feedback" id="id_p3_feedback" cols="75" rows="4"></textarea></td>
      </tr>
      <tr>
        <td valign="top">Goals: </td>
        <td><input id="id_p3_train" name="p3_train" type="checkbox" />
          train&nbsp;&nbsp;&nbsp;
          <input id="id_p3_generalize" name="p3_generalize" type="checkbox" />
          generalize&nbsp;&nbsp;&nbsp;
            <input id="id_p3_monitor" name="p3_monitor" type="checkbox" />
            monitor&nbsp;&nbsp;&nbsp;
            <input id="id_p3_lead_train_others" name="p3_lead_train_others" type="checkbox" />
            lead/train others</td>
      </tr>
      <tr>
        <td valign="top">Action Plan: </td>
        <td><textarea name="p3_actionplan" id="id_p3_actionplan" cols="75" rows="4"></textarea></td>
      </tr>
    </tbody>
  </table>
  <h3>Professionalism</h3>
<p>(timeliness, completion of work, attire)/Ethics (BACB Guidelines for Responsible Conduct)</p>
<table border="0" cellpadding="15" class="table table-bordered">
    <tbody>
    <tr>
    	<td>Strengths:</td>
    	<td><textarea name="strengths" id="id_strengths" cols="75" rows="4"></textarea></td>
    </tr>
    <tr>
    	<td>Suggestions:</td>
    	<td><textarea name="suggestions" id="id_suggestions" cols="75" rows="4"></textarea></td>
    </tr>
    <tr>
    	<td>General Comments:</td>
    	<td><textarea name="gen_comments" id="id_gen_comments" cols="75" rows="4"></textarea></td>
    </tr>
    </tbody>
    </table>
  <h3>Next Focus</h3>
  <p>(indicate 1-3 areas for the student to concentrate on for their next supervision meeting):</p>
  
<table border="0" cellpadding="15" class="table table-bordered">
<tbody>
<tr>
	<td>1.</td>
	<td><input type="text" name="next_focus_1" id="id_next_focus_1" size="75"></td>
</tr>
<tr>
	<td>2.</td>
	<td><input type="text" name="next_focus_2" id="id_next_focus_2" size="75"></td>
</tr>
<tr>
	<td>3.</td> 
    <td><input type="text" name="next_focus_3" id="id_next_focus_3" size="75"></td>
</tr>
</tbody>
</table>


<br />
<p><input type='submit' class='btn btn-success'></p>

</form>

</div>
</div>

{% endblock %}            

{% block content %}
<!-- <h1>Heading</h1> -->

{% endblock %}