{% extends 'base.html' %}

{% block jumbotron %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<h2>Resources</h2>
<br />
<br />
<div class="container">
<ul>
  <li><a href="/static/media/sample-skills-hierarchy.doc">Skills Hierarchy</a>:  Sometimes skills build upon each other. When training skills from the task list, it is important to make sure that trainees have the prerequisites to be able to perform the skills.  You can use this tool as a guide through the task list.</li>
  <li>Research Databases</li>
  <ul>
    <li> <a href="http://www.bacb.com/newsletter/BACB_Newsletter_08-14.pdf">BACB ProQuest Benefit</a></li>
    <li> <a href="http://muse.jhu.edu/">http://muse.jhu.edu/</a></li>
    <li> <a href="http://www.ncbi.nlm.nih.gov/pmc/">http://www.ncbi.nlm.nih.gov/pmc/</a></li>
  </ul>
  <li>Behavior Analyst Certification Board (Relevant Documents)</li>
  <ul>
    <li> <a href="http://www.bacb.com/Downloadfiles/TaskList/BACB_Fourth_Edition_Task_List.pdf">BACB Task List</a></li>
    <li> <a href="http://www.bacb.com/Downloadfiles/supervisor_curriculum.pdf">Supervisor Curriculum</a></li>
    <li> <a href="http://www.bacb.com/index.php?page=57">Guidelines for Responsible Conduct for Behavior Analysts<em>&nbsp;and&nbsp;</em>Professional Disciplinary and Ethical Standards</a></li>
  </ul>
  <li>Associations &amp; Organizations</li>
  <ul>
    <li> <a href="http://wmich.edu/psychology/">Western Michigan University (Department of Psychology)</a></li>
    <li> <a href="http://www.bacb.com/">Behavior Analysis Certification Board (BACB)</a></li>
    <li> <a href="http://www.abainternational.org/">Association for Behavior Analysis International (ABAI)</a></li>
    <li> <a href="http://www.apbahome.net/">Associations of Professional Behavior Analysts (APBA)</a></li>
    <li> <a href="http://www.europeanaba.org/">European Association for Behavior Analysis</a></li>
    <li> <a href="http://obmnetwork.com/">Organizational Behavior Management Network (OBM Network)</a></li>
    <li> <a href="http://fabaworld.org/links.php">Florida Association for Behavior Analysis (Resource Page)</a></li>
  </ul>
  <li>Professional Journals (free access)</li>
  <ul>
    <li> <a href="http://www.ncbi.nlm.nih.gov/pmc/journals/309/">Journal of Applied Behavior Analysis (Archive)</a></li>
    <li> <a href="http://www.ncbi.nlm.nih.gov/pmc/journals/299/">Journal of the Experimental Analysis of Behavior (Archive)</a></li>
  </ul>
  <li>Reference Manager</li>
  <ul>
    <li><a href="http://www.mendeley.com/">Mendeley</a></li>
    <li><a href="https://www.zotero.org/">Zotero</a></li>
  </ul>
</ul>
</div>
</div>

{% endblock %}            

{% block content %}

{% endblock %}