{% extends 'base.html' %}

{% block jumbotron %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<h2>Task Analysis</h2>
Create a detailed task analysis for a given performance from a supervisee’s job model.  A task analysis objectively defines the steps required to complete certain performances. Scroll to bottom of page for a completed example. <br /><br />
<strong>Before beginning the task analysis, we recommend that you gather all performance-related materials. Complete each section of the task analysis using the relevant job model and materials as your guide.</strong>
<a href="#">My Completed Task Analysis Forms</a>
<br />
<div class="container">
<div class="col-md-10">
<form method='POST' action=''> {% csrf_token %}
  <table border="0" cellpadding="15" class="table">
    <tbody>
      <tr>
        <td>Performance (What is the job activity?): </td><td><input type="text" name="performance" id="id_performance" size="70"></td>
      </tr>
      <tr>
        <td>Triggering Event (When should you begin this performance?):  </td><td><input type="text" name="triggering_event" id="id_triggering_event" size="70"></td>
      </tr>
      <tr>
        <td>Ending Event (When is this performance complete?):  </td><td><input type="text" name="ending_event" id="id_ending_event" size="70"><br /></td>
      </tr>
    </tbody>
  </table>
  <em>Complete a Table for Each Task in the Performance</em>
  <table border="0" cellpadding="15" class="table table-bordered">
    <tbody>
      <tr>
        <td colspan="2"><strong>Task: </strong><input type="text" name="task1" id="id_task1" size="68"></td>
      </tr>
      <tr>
        <td><strong>Materials Needed:</strong></td>
        <td><strong>Location of Materials:</strong></td>
      </tr>
      <tr>
        <td><input type="text" name="task1_materials1" id="id_materials1" size="68"></td>
        <td><input type="text" name="task1_location1" id="location1" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task1_materials2" id="id_task1_materials2" size="68"></td>
        <td><input type="text" name="task1_location2" id="id_task1_location2" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task1_materials3" id="id_task1_materials3" size="68"></td>
        <td><input type="text" name="task1_location3" id="id_task1_location3" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task1_materials4" id="id_task1_materials4" size="68"></td>
        <td><input type="text" name="task1_location4" id="id_task1_location4" size="68"></td>
      </tr>
      <tr>
        <td colspan="2"><em>Task Steps:</em></td>
      </tr>
      <tr>
      <td colspan="2"><textarea name="task1_task_steps" id="id_task1_task_steps" cols="140" rows="10"></textarea></td>
      </tr>
      <tr>
      <td colspan="2">Permanent Products:&nbsp;&nbsp;&nbsp;<input type="text" name="task1_permanant_products" id="id_task1_permanant_products" size="68"></td>
      </tr>
    </tbody>
  </table>
<a href="javascript:hideshow(document.getElementById('t2'))">Add table</a><br />
        <div id="t2" style="display: none">
          <table border="0" cellpadding="15" class="table table-bordered">
    <tbody>
      <tr>
        <td colspan="2"><strong>Task: </strong><input type="text" name="task2" id="id_task2" size="68"></td>
      </tr>
      <tr>
        <td><strong>Materials Needed:</strong></td>
        <td><strong>Location of Materials:</strong></td>
      </tr>
      <tr>
        <td><input type="text" name="task2_materials1" id="id_task2_materials1" size="68"></td>
        <td><input type="text" name="task2_location1" id="id_task2_location1" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task2_materials2" id="id_task2_materials2" size="68"></td>
        <td><input type="text" name="task2_location2" id="id_task2_location2" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task2_materials3" id="id_task2_materials3" size="68"></td>
        <td><input type="text" name="task2_location3" id="id_task2_location3" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task2_materials4" id="id_task2_materials4" size="68"></td>
        <td><input type="text" name="task2_location4" id="id_task2_location4" size="68"></td>
      </tr>
      <tr>
        <td colspan="2"><em>Task Steps:</em></td>
      </tr>
      <tr>
      <td colspan="2"><textarea name="task2_task_steps" id="id_task2_task_steps" cols="140" rows="10"></textarea></td>
      </tr>
      <tr>
      <td colspan="2">Permanent Products:&nbsp;&nbsp;&nbsp;<input type="text" name="task2_permanant_products" id="id_task2_permanant_products" size="68"></td>
      </tr>
    </tbody>
  </table>
<a href="javascript:hideshow(document.getElementById('t3'))">Add table</a><br />
        <div id="t3" style="display: none">
          <table border="0" cellpadding="15" class="table table-bordered">
    <tbody>
      <tr>
        <td colspan="2"><strong>Task: </strong><input type="text" name="task3" id="id_task3" size="68"></td>
      </tr>
      <tr>
        <td><strong>Materials Needed:</strong></td>
        <td><strong>Location of Materials:</strong></td>
      </tr>
      <tr>
        <td><input type="text" name="task3_materials1" id="id_task3_materials1" size="68"></td>
        <td><input type="text" name="task3_location1" id="id_task3_location1" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task3_materials2" id="id_task3_materials2" size="68"></td>
        <td><input type="text" name="task3_location2" id="id_task3_location2" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task3_materials3" id="id_task3_materials3" size="68"></td>
        <td><input type="text" name="task3_location3" id="id_task3_location3" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task3_materials4" id="id_task3_materials4" size="68"></td>
        <td><input type="text" name="task3_location4" id="id_task3_location4" size="68"></td>
      </tr>
      <tr>
        <td colspan="2"><em>Task Steps:</em></td>
      </tr>
      <tr>
      <td colspan="2"><textarea name="task3_task_steps" id="id_task3_task_steps" cols="140" rows="10"></textarea></td>
      </tr>
      <tr>
      <td colspan="2">Permanent Products:&nbsp;&nbsp;&nbsp;<input type="text" name="task3_permanant_products" id="id_task3_permanant_products" size="68"></td>
      </tr>
    </tbody>
  </table>
  <a href="javascript:hideshow(document.getElementById('t4'))">Add table</a><br />
        <div id="t4" style="display: none">
          <table border="0" cellpadding="15" class="table table-bordered">
    <tbody>
      <tr>
        <td colspan="2"><strong>Task: </strong><input type="text" name="task4" id="id_task4" size="68"></td>
      </tr>
      <tr>
        <td><strong>Materials Needed:</strong></td>
        <td><strong>Location of Materials:</strong></td>
      </tr>
      <tr>
        <td><input type="text" name="task4_materials1" id="id_task4_materials1" size="68"></td>
        <td><input type="text" name="task4_location1" id="id_task4_location1" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task4_materials2" id="id_task4_materials2" size="68"></td>
        <td><input type="text" name="task4_location2" id="id_task4_location2" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task4_materials3" id="id_task4_materials3" size="68"></td>
        <td><input type="text" name="task4_location3" id="id_task4_location3" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task4_materials4" id="id_task4_materials4" size="68"></td>
        <td><input type="text" name="task4_location4" id="id_task4_location4" size="68"></td>
      </tr>
      <tr>
        <td colspan="2"><em>Task Steps:</em></td>
      </tr>
      <tr>
      <td colspan="2"><textarea name="task4_task_steps" id="id_task4_task_steps" cols="140" rows="10"></textarea></td>
      </tr>
      <tr>
      <td colspan="2">Permanent Products:&nbsp;&nbsp;&nbsp;<input type="text" name="task4_permanant_products" id="id_task4_permanant_products" size="68"></td>
      </tr>
    </tbody>
  </table>
<a href="javascript:hideshow(document.getElementById('t5'))">Add table</a><br />
        <div id="t5" style="display: none">
          <table border="0" cellpadding="15" class="table table-bordered">
    <tbody>
      <tr>
        <td colspan="2"><strong>Task: </strong><input type="text" name="task5" id="id_task5" size="68"></td>
      </tr>
      <tr>
        <td><strong>Materials Needed:</strong></td>
        <td><strong>Location of Materials:</strong></td>
      </tr>
      <tr>
        <td><input type="text" name="task5_materials1" id="id_task5_materials1" size="68"></td>
        <td><input type="text" name="task5_location1" id="id_task5_location1" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task5_materials2" id="id_task5_materials2" size="68"></td>
        <td><input type="text" name="task5_location2" id="id_task2_location2" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task5_materials3" id="id_task5_materials3" size="68"></td>
        <td><input type="text" name="task5_location3" id="id_task5_location3" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task5_materials4" id="id_task5_materials4" size="68"></td>
        <td><input type="text" name="task5_location4" id="id_task5_location4" size="68"></td>
      </tr>
      <tr>
        <td colspan="2"><em>Task Steps:</em></td>
      </tr>
      <tr>
      <td colspan="2"><textarea name="task5_task_steps" id="id_task5_task_steps" cols="140" rows="10"></textarea></td>
      </tr>
      <tr>
      <td colspan="2">Permanent Products:&nbsp;&nbsp;&nbsp;<input type="text" name="task5_permanant_products" id="id_task5_permanant_products" size="68"></td>
      </tr>
    </tbody>
  </table>
<a href="javascript:hideshow(document.getElementById('t6'))">Add table</a><br />
        <div id="t6" style="display: none">
          <table border="0" cellpadding="15" class="table table-bordered">
    <tbody>
      <tr>
        <td colspan="2"><strong>Task: </strong><input type="text" name="task6" id="id_task6" size="68"></td>
      </tr>
      <tr>
        <td><strong>Materials Needed:</strong></td>
        <td><strong>Location of Materials:</strong></td>
      </tr>
      <tr>
        <td><input type="text" name="task6_materials1" id="id_task6_materials1" size="68"></td>
        <td><input type="text" name="task6_location1" id="id_task6_location1" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task6_materials2" id="id_task6_materials2" size="68"></td>
        <td><input type="text" name="task6_location2" id="id_task6_location2" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task6_materials3" id="id_task6_materials3" size="68"></td>
        <td><input type="text" name="task6_location3" id="id_task6_location3" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task6_materials4" id="id_task6_materials4" size="68"></td>
        <td><input type="text" name="task6_location4" id="id_task6_location4" size="68"></td>
      </tr>
      <tr>
        <td colspan="2"><em>Task Steps:</em></td>
      </tr>
      <tr>
      <td colspan="2"><textarea name="task6_task_steps" id="id_task6_task_steps" cols="140" rows="10"></textarea></td>
      </tr>
      <tr>
      <td colspan="2">Permanent Products:&nbsp;&nbsp;&nbsp;<input type="text" name="task6_permanant_products" id="id_task6_permanant_products" size="68"></td>
      </tr>
    </tbody>
  </table>
<a href="javascript:hideshow(document.getElementById('t7'))">Add table</a><br />
        <div id="t7" style="display: none">
          <table border="0" cellpadding="15" class="table table-bordered">
    <tbody>
      <tr>
        <td colspan="2"><strong>Task: </strong><input type="text" name="task7" id="id_task7" size="68"></td>
      </tr>
      <tr>
        <td><strong>Materials Needed:</strong></td>
        <td><strong>Location of Materials:</strong></td>
      </tr>
      <tr>
        <td><input type="text" name="task7_materials1" id="id_task7_materials1" size="68"></td>
        <td><input type="text" name="task7_location1" id="id_task7_location1" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task7_materials2" id="id_task7_materials2" size="68"></td>
        <td><input type="text" name="task7_location2" id="id_task7_location2" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task7_materials3" id="id_task7_materials3" size="68"></td>
        <td><input type="text" name="task7_location3" id="id_task7_location3" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task7_materials4" id="id_task7_materials4" size="68"></td>
        <td><input type="text" name="task7_location4" id="id_task7_location4" size="68"></td>
      </tr>
      <tr>
        <td colspan="2"><em>Task Steps:</em></td>
      </tr>
      <tr>
      <td colspan="2"><textarea name="task7_task_steps" id="id_task7_task_steps" cols="140" rows="10"></textarea></td>
      </tr>
      <tr>
      <td colspan="2">Permanent Products:&nbsp;&nbsp;&nbsp;<input type="text" name="task7_permanant_products" id="id_task7_permanant_products" size="68"></td>
      </tr>
    </tbody>
  </table>
<a href="javascript:hideshow(document.getElementById('t8'))">Add table</a><br />
        <div id="t8" style="display: none">
          <table border="0" cellpadding="15" class="table table-bordered">
    <tbody>
      <tr>
        <td colspan="2"><strong>Task: </strong><input type="text" name="task8" id="id_task8" size="68"></td>
      </tr>
      <tr>
        <td><strong>Materials Needed:</strong></td>
        <td><strong>Location of Materials:</strong></td>
      </tr>
      <tr>
        <td><input type="text" name="task8_materials1" id="id_task8_materials1" size="68"></td>
        <td><input type="text" name="task8_location1" id="id_task8_location1" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task8_materials2" id="id_task8_materials2" size="68"></td>
        <td><input type="text" name="task8_location2" id="id_task8_location2" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task8_materials3" id="id_task8_materials3" size="68"></td>
        <td><input type="text" name="task8_location3" id="id_task8_location3" size="68"></td>
      </tr>
      <tr>
        <td><input type="text" name="task8_materials4" id="id_task8_materials4" size="68"></td>
        <td><input type="text" name="task8_location4" id="id_task8_location4" size="68"></td>
      </tr>
      <tr>
        <td colspan="2"><em>Task Steps:</em></td>
      </tr>
      <tr>
      <td colspan="2"><textarea name="task8_task_steps" id="id_task8_task_steps" cols="140" rows="10"></textarea></td>
      </tr>
      <tr>
      <td colspan="2">Permanent Products:&nbsp;&nbsp;&nbsp;<input type="text" name="task8_permanant_products" id="id_task8_permanant_products" size="68"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<br />
<p align="center"><input type='submit' class='btn btn-success'></p>
<p>Once you have completed the task list, review the BACB Task List Skills for this performance. Go back to the <a href='{% url "jobmodel" %}'>Job Model</a> and make any necessary changes to the skills required</p>
</form>
</div>
</div>
<h3>Printable Examples</h3>
<table class="table table-hover">
<tbody>
<tr>
  <td><img src="/static/media/word.png" height="25px" width="25px"></td>
  <td><a href="/static/media/task-analysis-example.doc" target="_blank">Task Analysis Example</td>
</tr>
<tr>
  <td><img src="/static/media/word.png" height="25px" width="25px"></td>
  <td><a href="/static/media/task-analysis-example2.doc" target="_blank">Task Analysis Example</td>
</tr>
</tbody>
</table>
<script type="text/javascript">
function hideshow(which){
if (!document.getElementById)
return
if (which.style.display=="block")
which.style.display="none"
else
which.style.display="block"
}
</script>
{% endblock %}